#chat { 
	  display:inline;
	   height: 95vh;
	   float: left;
       overflow:auto;
	}

#rosterDiv { 
	   float: right;
	   height: 90vh;
	   overflow:auto;
	}	
	
section {
    margin: auto;
     }

		body {
			padding-top: 50px;
		}

	.starter-template {
		  padding: 40px ;
			  text-align: center;
			}

#footer  
{
     font-size: 15px;
     font-family: Verdana, Geneva, Arial, sans-serif;
     position: absolute;
     bottom: 15px;
     height: 10px
 }

.floatRight{
	float:right;
}

.floatLeft{
	float:left;
}

.textInput{
	height:20px
}

